@font-face {
    font-family: 'MyriadPro LightCond';
    src: url(../fonts/myriadprolightcond.eot);
   }
@font-face {
    font-family: 'MyriadPro SemiboldCond';
    src: url(../fonts/myriadprosemiboldcond.eot);
   }
@font-face {
    font-family: 'MyriadPro BoldCond';
    src: url(../fonts/myriadproboldcond.eot);
   }
@font-face {
    font-family: 'MyriadPro BlackCond';
    src: url(../fonts/myriadproblackcond.eot);
   }
@font-face {
    font-family: 'MyriadPro Regular';
    src: url(../fonts/myriadproregular.eot);
   }
@font-face {
    font-family: 'MyriadPro Bold';
    src: url(../fonts/myriadprobold.eot);
   }
@font-face {
    font-family: 'MyriadPro BoldCondIt';
    src: url(../fonts/myriadproboldcondit.eot);
   }
@font-face {
    font-family: 'Tahoma';
    src: url(../fonts/TAHOMA.eot);
   }
@font-face {
    font-family: 'Tahoma bold';
    src: url(../fonts/TAHOMABD.eot);
}
@font-face {
    font-family: 'Tahoma';
    src: url(../fonts/tahoma.OTF);
   }
@font-face {
    font-family: 'Tahoma bold';
    src: url(../fonts/tahomabd.OTF);
}
@font-face {
    font-family: 'MyriadPro LightCond';
    src: url(../fonts/myriadprolightcond.TTF);
   }
@font-face {
    font-family: 'MyriadPro SemiboldCond';
    src: url(../fonts/myriadprosemiboldcond.TTF);
   }
@font-face {
    font-family: 'MyriadPro BoldCond';
    src: url(../fonts/myriadproboldcond.TTF);
   }
@font-face {
    font-family: 'MyriadPro BlackCond';
    src: url(../fonts/myriadproblackcond.TTF);
   }
@font-face {
    font-family: 'MyriadPro Regular';
    src: url(../fonts/myriadproregular.TTF);
   }
@font-face {
    font-family: 'MyriadPro Bold';
    src: url(../fonts/myriadprobold.TTF);
   }
@font-face {
    font-family: 'MyriadPro BoldCondIt';
    src: url(../fonts/myriadproboldcondit.TTF);
   }
@font-face {
    font-family: 'Tahoma';
    src: url(../fonts/TAHOMA.TTF);
   }
@font-face {
    font-family: 'Tahoma bold';
    src: url(../fonts/TAHOMABD.TTF);
}
@font-face {
    font-family: 'MyriadPro LightCond';
    src: url(../fonts/MYRIADPRO-LIGHTCOND.OTF);
   }
@font-face {
    font-family: 'MyriadPro SemiboldCond';
    src: url(../fonts/MYRIADPRO-SEMIBOLDCOND.OTF);
   }
@font-face {
    font-family: 'MyriadPro BoldCond';
    src: url(../fonts/MYRIADPRO-BOLDCOND.OTF);
   }
@font-face {
    font-family: 'MyriadPro BlackCond';
    src: url(../fonts/MYRIADPRO-BLACKCOND.OTF);
   }
@font-face {
    font-family: 'MyriadPro Regular';
    src: url(../fonts/MYRIADPRO-REGULAR.OTF);
   }
@font-face {
    font-family: 'MyriadPro Bold';
    src: url(../fonts/MYRIADPRO-BOLD.OTF);
   }
@font-face {
    font-family: 'MyriadPro BoldCondIt';
    src: url(../fonts/MYRIADPRO-BOLDCONDIT.OTF);
}