body {
    background: url(../img/bg.jpg) repeat-x;
    overflow-y: scroll;
}
body h1{
	font-size: 24px;
	text-transform: uppercase;
	font-family: 'MyriadPro SemiboldCond';
    margin: 0;
}
body h1:before {
	content: url(../img/h1_marker.png);
	width: 7px;
	height: 8px;
	margin-right: 13px;
	position: relative;
	bottom: 4px;
}
body h2{
    font-size: 22px;
    font-family: 'MyriadPro Bold';
    margin: 0;
}
body h3{
    font-size: 18px;
    font-family: 'MyriadPro Bold';
    margin: 0;
}
body h4{
    font-size: 14px;
    font-family: 'MyriadPro Bold';
    margin: 0;
}
body h5{
    font-size: 12px;
    font-family: 'MyriadPro Regular';
    margin: 0;
}
.wrap {
    width: 960px;
    margin: auto;
    position: relative;
    padding-bottom: 140px;
}


/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*  HEADER
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.header {
    height: 205px;
}
.logo {
    width: 160px;
    float: left;
    margin-top: 38px;
}
.contact, .internet {
    height: 120px;
    float: right;
    margin-top: 35px;
}
.internet {
     width: 180px;
}
.internet ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.internet li {
    margin-bottom: 15px;
    font-family: 'Tahoma', sans-serif;
    font-size: 14px;
    line-height: 17px;
}
.internet li span {
    font-family: 'Tahoma bold', sans-serif;
}
.internet li img {
    float: left;
    margin-right: 10px;
}
.contact {
    margin-right: 95px;
}
.contact h5 {
    margin: 0;
    font-family: 'Tahoma bold', sans-serif;
    font-size: 13px;
    color: #4c4c4c;
}
.contact p {
    margin: 0;
    font-family: 'MyriadPro SemiboldCond'; 
    font-size: 28px;
}
.contact img {
    margin-right: 15px;
}
.contact p span {
    font-family: 'MyriadPro LightCond';
    font-size: 18px;
    color: #999999;
}

.nav {
    clear: both;
}
.nav ul {
    width: 940px;
    height: 50px;
    margin: auto;
    padding: 0px;
    background: url(../img/nav-bg.jpg);
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
}
.nav li {
    display: inline-block;
    height: 50px;
    padding: 0;
    margin-right: 40px;
}
.nav li:first-child {
    margin-left: 30px;
}
.nav li:last-child {
    margin-right: 0;
}
.nav li:after {
    margin-left: 40px;
    content: url(../img/devider.png);
}
.nav li:last-child:after {
    margin-left: 0;
    content: "";
}
.nav a {
    text-decoration: none;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    font-family: 'MyriadPro SemiboldCond';
    font-size: 24px;
    color: #000000;
}
.nav a:hover {
    background: url(../img/nav_hover.jpg);
    color: white;
}
.nav a:hover:before {
    position: absolute;
    margin-left: -21px;
    content: url(../img/nav-before.jpg);
}
.nav a:hover:after {
    position: absolute;
    content: url(../img/nav-after.jpg);
}
.nav-hr {
    position: absolute;
    margin-top: 50px;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*  HEADER END
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*  BANNER
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


.content-margin {
    margin-top: 48px;
}

.bradcrumps ul {
    margin: 0;
    padding: 20px 0 15px 0;
}

.bradcrumps li {
    display: inline;
}
.bradcrumps a {
    color: #0084ff;
    font-family: tahoma;
    font-size: 11px;
}
.bradcrumps .active {
    text-decoration: underline;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
}
.bradcrumps a:hover{
    color: #000000;
}
.bradcrumps li:after {
    content: url(../img/brad-arrow.png);
    padding: 0 12px;
}
.bradcrumps li:last-child:after {
    content: none;
}
.left-banner, .right-banner {
    width: 480px;
    height: 300px;
}
.left-banner {
    float: left;
}
.right-banner {
    width: 480px;
    float: right;
    position: relative;
}
.right-banner img {
    padding-top: 50px;
}
.right-banner p {
    display: block;
    background: rgba(0,0,0,.6);
    height: 25px;
    padding-top: 2px;
    margin: 0;
    border-radius: 5px;
    position: absolute;
}
.right-banner p:before{
    content: '';
    position: absolute;
    right: 7px;
    bottom: -8px;
    width: 0;
    height: 0;
    border-top: 8px solid rgba(0,0,0,.6);
    border-left: 8px solid transparent;
}
.right-banner p a {
    margin: 0 10px;
    font-family: 'Tahoma bold', sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: white;
    border-bottom: 1px dotted white;
}
.right-banner p:hover {
    background: rgba(255,165,51,.85);
}
.right-banner p:hover:before {
    border-top: 8px solid rgba(255,165,51,.85);
}
.right-banner p:hover a {
    color: black;
    border-bottom: 1px dotted black;
}
.right-banner .bamper {
    top: 182px;
    left: 10px;
}
.right-banner .porshni {
    top: 105px;
    left: 40px;
}
.right-banner .stekla {
    top: 40px;
    left: 190px;
}
.right-banner .dveri {
    top: 120px;
    left: 340px;
}
.stekla:before,
.dveri:before {
    left: 7px;
    transform:rotate(270deg);
    -o-transform:rotate(270deg);
    -moz-transform:rotate(270deg);
    -ms-transform:rotate(270deg);
    -webkit-transform:rotate(270deg);
}
.map-container {
    float: left;
    position: relative;
}
.map-container h1 {
    font-family: 'MyriadPro BoldCond';
    font-size: 28px;
    margin: 0;
    margin-top: 55px;
}
.map-container h1:before {
	content: none;
}
.map-container p {
    font-family: 'MyriadPro LightCond';
    font-size: 24px;
    margin: 0;
    margin-left: 43px;
    margin-top: -6px;
}
.map-container img {
    margin-top: 10px;
}
.under-map {
    position: absolute;
    top: 113px;
    left: 75px;
}
.sputnik {
    float: right;
    width: 280px;
}
.sputnik p {
    font-family: 'MyriadPro LightCond';
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 0px;
}
.sputnik h1 {
    margin-top: 0;
    font-family: 'MyriadPro BlackCond';
    font-size: 35px;
    color: #ff8f00;
}
.sputnik h1:before {
	content: none;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*  HEADER END
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*  CONTENT
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.main_content {
    width: 670px;
    float: right;
}
.clear {
    clear: both;
}
.right_content,
.left_content {
    width: 480px;
    height: 175px;
}
.right_content {
    float: left;
    clear: both;
}
.left_content {
    float: right;
}
.right_content h1 {
    margin-bottom: 20px;
}
.right_content p,
.left_content p {
    margin: 0;
    font-family: 'Verdana', 'Geneva', sans-serif;
    font-size: 12px;
    color: #808080;
    margin-bottom: 15px;
}
.left_content p {
    padding-top: 49px;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*  SIDEBAR
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.sidebar {
	width: 270px;
	float: left;
}
.rotate {
    transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
}
.category {
	padding: 0;
	padding-left: 22px;
	background: #F2F2F2;
	border-radius: 18px;
	width: 230px;
	z-index: 20;
	position: relative;
}
.sb_block {
	position: relative;
	z-index: 0;
}
.filter {
    display: none;
}
.category > li {
	clear: both;
	position: relative;
	width: 207px;
	list-style: none;
	border-bottom: 1px solid #D1D1D1;
	box-shadow: 0 1px 0 0 white;

}
.category div {
    cursor: pointer;
    display: inline-block;
}
.shadow_category {
	position: absolute;
	bottom: -13px;
	left: -23%;
	z-index: 0;
}
.engine {
	position: absolute;
	right: -2px;
	top: -48px;
}
.category > li img {
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -2px;
}
.category > li .sb_arrow {
	z-index: 5;
}
.category li a {
	color: #000;
	font-size: 14px;
	font-family: 'Tahoma bold', sans-serif;
	text-decoration: none;
}
.pop_div1 .color,
.typography .color {
	color: #0085FF;
}
.category > li:last-child {
	border: none;
	box-shadow: none;
}
.category .pop_div1 {
    cursor: pointer;
	width: 100%;
	padding: 9px 0;
    display: block;
    padding-left: 22px;
}
.category .popup_first {
	padding: 2px 0;
	border-bottom: 1px solid #D1D1D1;
	box-shadow: 0 1px 0 0 white;
    float: left;
    width: 185px;
    background: #E6E6E6;
    margin-top: 1px;
    padding-left: 22px;
}
.category .popup_first > li {
	padding: 2px 0;
	padding-left: 10px;
    list-style: none;
    position: relative;
}
.category .popup_first > li a {
	text-decoration: none;
	color: #4C4C4C;
	font-size: 12px;
    font-family: 'Tahoma', sans-serif;
}
.category > li div {
    position: relative;
}
.category  .pop_div2.active,
.category  .pop_div3.active,
.category  .pop_div4.active,
.category  .pop_div5.active,
.category  .pop_div6.active {
    font-weight: normal !important;
    color: #4C4C4C !important;
    text-decoration: underline;
}
.category  .pop_div2.active:before,
.category  .pop_div3.active:before,
.category  .pop_div4.active:before,
.category  .pop_div5.active:before,
.category  .pop_div6.active:before {
    content: url(../img/marker.png);
    position: absolute;
    left: -9px;
    top: -3px;
}








.category .popup_second,
.category .popup_third,
.category .popup_fourth,
.category .popup_fifth {
    padding-left: 10px;
}
.category .popup_second > li .pop_div3 {
    color: #4C4C4C;
    font-size: 12px;
    font-family: 'Tahoma', sans-serif;
    display: inline;
    font-weight: normal;
}

.category .popup_second > li .pop_div3:hover,
.category .popup_third > li .pop_div4:hover,
.category .popup_fourth > li .pop_div5:hover,
.category .popup_fourth > li .pop_div6:hover {
    color: #0085FF;
    text-decoration: underline;
}
.category .popup_second > li,
.category .popup_third > li,
.category .popup_fourth > li,
.category .popup_fifth > li {
    list-style: none;
    margin-top: 4px;
}
.category .popup_third > li .pop_div4 {
    color: #4C4C4C;
    font-size: 12px;
    font-family: 'Tahoma', sans-serif;
    display: inline;
    font-weight: normal;
}
.category .popup_fourth > li .pop_div5 {
    color: #4C4C4C;
    font-size: 12px;
    font-family: 'Tahoma', sans-serif;
    display: inline;
    font-weight: normal;
}
.category .popup_fifth > li .pop_div6 {
    color: #4C4C4C;
    font-size: 12px;
    font-family: 'Tahoma', sans-serif;
    display: inline;
    font-weight: normal;
}














.sb_block form {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
	width: 213px;
	background: #FBFAF9;
	border-radius: 18px;
}
.sb_block h2 {
	margin: 0;
	padding-top: 26px;
	padding-bottom: 9px;
	font-family: 'MyriadPro SemiboldCond';
	font-size: 20px;
	text-transform: uppercase;
	border-bottom: 1px solid #D1D1D1;
	box-shadow: 0 1px 0 0 white;
}
.sb_block select {
    padding-top: 5px;
    padding-bottom: 5px;
	padding-left: 10px;
	width: 212px;
	height: 32px;
	outline: none;
	border-radius: 22px;
	border: 1px solid #DBD8CB;
	font-family: 'Tahoma', sans-serif;
	font-size: 14px;
	color: #9A9A9A;
	margin-top: 3px;
    background: url(../img/select_arrow.png) no-repeat 95%, white;
     -moz-appearance: none;
     -o-appearance: none;
     -ms-appearance: none;
     -webkit-appearance: none;
     appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}
.sb_block label {
	display: inline-block;
	margin-top: 13px;
	font-family: 'Tahoma', sans-serif;
	font-size: 14px;
	color: #3A3A3A;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*  SIDEBAR END
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*  SEARCH
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.tabs_wrap {
    height: 142px;
    position: relative;
}
.tabs {
    background: #e3e3e3;
    border:1px solid #e4e4e4;
    width: 680px;
    height: 105px;
    position: absolute;
    top: 36px;
    border-radius: 0px 20px 20px;
}
.tabs img {
    margin: 25px 0 0 30px;
    float: left;
}
.tabs form {
    padding: 30px 0 0;
}
.tabs input {
    margin-left: 10px;
    padding-left: 5px;
    width: 430px;
    height: 25px;
    font-family: 'Tahoma bold', sans-serif;
    font-size: 12px;
    color: #b2b2b2;
    border-radius: 3px;
    border: 1px solid #999999;
}
.tabs button {
    background: url(../img/button_bg.jpg);
    width: 73px;
    height: 28px;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
    outline: none;
    font-family: 'MyriadPro BoldCond', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}
.tabs p {
    margin: 10px 0 0 10px;
    float: left;
    font-family: 'Tahoma', sans-serif;
    font-size: 11px;
    color: #666666;
}
.tabs ul {
    padding: 0;
    margin: 0;
}
.tabs ul li {
    display: inline-block;
    margin-top: 6px;
    margin-left: 3px;
}
.tabs ul li:after {
    content: ',';
}
.tabs ul li:last-child:after {
    content: '';
}
.tabs ul li a {
    font-family: 'Tahoma', sans-serif;
    font-size: 11px;
    color: #666666;
}
.tabs ul li a:hover {
    color: black;
}
.tabs_inset {
    background: url(../img/tabs_inset_bg.jpg);
    height: 36px;
    border: 1px solid #e4e4e4;
    border-bottom: none;
    border-radius: 20px 20px 0 0;
    float: left;
    margin-right: 1px;
    cursor: pointer;
}
.tabs_inset p {
    margin: 0;
    padding: 0 20px;
    font-family: 'MyriadPro SemiboldCond';
    font-size: 18px;
    line-height: 35px;
    color: black;
}
.tabs_active {
    position: relative;
    background: url(../img/main_button_bg.jpg);
    z-index: 2;
}
.tabs_active p {
    color: white;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*  SEARCH END
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*  INDEX SLIDER
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.slider_wrap {
    clear: both;
    height: 250px;
    position: relative;
}
.slider_wrap h1 {
    padding-top: 45px;
    margin-bottom: 35px;
}
.slider_wrap .prev,
.slider_wrap .next {
    background: url(../img/slider_button_bg.jpg);
    height: 35px;
    width: 35px;
    border-radius: 15px;
    border: 1px solid #e2e2e2;
    outline: none;
    position: absolute;
    top: 65%;
    opacity: .7;
}
.slider_wrap .prev {
    left: 0;
}
.slider_wrap .next {
    right: 0;
}
.slider_wrap .prev:hover,
.slider_wrap .next:hover {
    opacity: 1;
}
.slider {
    width: 850px;
    margin: auto;
}
.slider ul {
    height: 160px;
    padding: 0;
}
.slider ul li {
    height: 130px;
    width: 170px;
}
.slider ul li img {
    width: 135px;
    height: 60px;
    display: block;
    margin: auto;
}
.slider ul li a {
    width: 135px;
    height: 15px;
    display: block;
    margin: 10px auto 0;
    font-family: 'Tahoma bold', sans-serif;
    font-size: 12px;
    text-align: center;
    color: #0084ff
}
.slider ul li p {
    margin: 20px 0 0;
    font-family: 'Tahoma', sans-serif;
    font-size: 11px;
    color: #4c4c4c;
    text-align: center;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*  INDEX SLIDER END
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*  SINGLE
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.old_cost_single {
    margin: 0;
    margin-top: 5px;
    margin-right: 10px;
    font-style: italic;
    display: inline-block;
    font-family: 'MyriadPro SemiboldCond';
    font-size: 18px;
    color: #000;
    background: url(../img/strip.png)no-repeat center;
}
.new_cost_single {
    margin: 0;
    display: inline-block;
    font-style: italic;
    font-family: 'MyriadPro SemiboldCond';
    font-size: 24px;
    color: #ff8f00;
}
.price-order button {
    display: block;
    margin: auto;
    font-family: 'Tahoma bold', sans-serif;
    font-size: 12px;
    border-radius: 6px;
    width: 102px;
    height: 25px;
    border: 1px solid #E1E1E1;
    background: url(../img/button-bg.jpg);
    box-shadow: 0 1px 0 0 #EFEFEF;
    margin-top: 3px;
    margin-left: 30px;
}
.single-left {
    width: 322px;
    float: left;
}
.single-right {
    width: 305px;
    float: right;
}
.brand-name {
    float: left;
}
.brand-name p {
    font-size: 14px;
    font-family: 'MyriadPro Bold' sans-serif;
    font-weight: bold;
    margin-top: 0px;
}
.in-stock {
    width: 150px;
    float: left;
}
.in-stock p {
    font-family: tahoma;
    font-weight: bold;
    font-size: 12px;
    margin-top: 0px;
}
.in-stock p:before {
    content: url(../img/on-stock.png);
    margin-right: 10px;
}
.info-area {
    clear: both;
    margin-top: 30px;
}
.info-area td {
    width: 115px;
}
.info-area td:first-child {
    font-family: 'MyriadPro Bold';
    font-size: 14px;
}
.info-area td:nth-child(2) {
    font-family: 'MyriadPro Regular';
    font-size: 14px;
    color: #808080;
    text-transform: uppercase;
}
.price-order {
    clear: both;
    padding-top: 30px;
}
.price-order p, .price-order button {
    float: left;
}
.price-order p:last-child {
    margin-left: 20px;
}
.short-description {
    clear: both;
    padding-top: 10px;
}
.short-description h3 {
    font-family: 'MyriadPro Regular';
    font-size: 14px;
}
.short-description p {
    font-family: tahoma;
    font-size: 10px;
    color: #808080;
}
.single-tabs {
    padding: 0px !important;
    padding-top: 13px !important;
    border: 0px !important;
}
.single-tabs ul {
    background: none;
    border: none;
    padding: 0 !important;
    margin: 0 !important;
    padding: 0px;
}
.single-tabs p {
    background: none;
    border: none;
    padding: 0 !important;
    margin: 0 !important;
    padding: 0px;
    font-size: 14px;
    font-family: tahoma;
}
.single-tabs ul a {
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-size: 11px;
    font-family: 'MyriadPro Regular';
}
.single-tabs ul li {
    border-radius: 10px 30px 0 0;
    height: 24px;
}
.single-tabs td {
    width: 135px;
    min-height: 18px;
    line-height: 18px;
    background: #f2f2f2;
    border: 3px solid white;
    padding-left: 20px;
    font-family: tahoma;
    font-size: 11px;
}
.single-tabs td:last-child {
    color: #808080;
}
.single-tabs .ui-state-default, .single-tabs .ui-widget-content .ui-state-default, .single-tabs .ui-widget-header .ui-state-default {
    background: none !important;
}
.single-tabs .ui-state-active, .single-tabs .ui-widget-content .ui-state-active, .single-tabs .ui-widget-header .ui-state-active {
    background: url(../img/single-tab-bg.jpg) !important;
}
.analog-product {
    clear: both;
    padding-top: 10px;
}
.analog-product h1 {
    clear: both;
    margin-top: 25px;
    margin-bottom: 20px;
}
.single-analog-product {
    width: 122px;
    height: 212px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    text-align: center;
    float: left;
    margin-right: 10px;
}
.single-analog-product:last-child {
    margin-right: 0px;
}
.single-analog-product img {
    clear: both;
    width: 50px;
    height: 50px;
    padding-top: 12px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
}
.single-analog-product a {
    line-height: 15px;
    padding: 0 10px;
    display: block;
    height: 45px;
    font-family: 'tahoma bold';
    font-size: 12px;
    color: #000000;
}
.single-analog-product a:hover {
    text-decoration: none;
}
.single-analog-product span {
    display: block;
    font-family: 'tahoma';
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: 11px;
    line-height: 12px;
    color: #808080;
}
.single-analog-product .old_cost_single {
     margin: 0;
     margin-top: 5px;
     margin-right: 10px;
     font-style: italic;
     display: inline-block;
     font-family: 'MyriadPro SemiboldCond';
     font-size: 12px;
     color: #000;
     background: url(../img/strip.png)no-repeat center;
}
.single-analog-product .new_cost_single {
     margin: 0;
     display: inline-block;
     font-style: italic;
     font-family: 'MyriadPro BoldCondIt';
     font-size: 14px;
     color: #ff8f00;
}
.single-analog-product button {
     font-family: 'tahoma bold';
     font-size: 12px;
     border-radius: 6px;
     width: 94px;
     height: 20px;
     border: 1px solid #E1E1E1;
     background: url(../img/button-bg.jpg);
     box-shadow: 0 1px 0 0 #EFEFEF;
     margin-top: 7px;
}

/* Popup
------------------------------------------------------------------------------------ */
.popup {
    width:100%;
    min-height:100%;
    background: rgba(0,0,0,0.8);
    overflow:hidden;
    position:fixed;
    top:0px;
    z-index: 100;
}
.popup .a-popup-content {
    overflow: hidden;
    position: relative;
    text-align: center;
    position: inherit;
    top: 50%;
    left: 50%;
    background: rgba(0,0,0,0.6);
    border-radius: 20px;
    width: 270px;
    height: 310px;
    margin-top: -155px;
    margin-left: -135px;
}
.a-popup-content a {
    position: absolute;
    right: -2px;
    top: -2px;
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 20px;
    background: url(../img/close_img.png) no-repeat 50%, white;
}
.a-popup-content h1 {
    color: white;
    margin-top: 25px;
    margin-bottom: 25px;
}
.a-popup-content h1:before {
    content: none;
}
.a-popup-content input{
    outline: none;
    text-indent: 5px;
    width: 210px;
    height: 30px;
    font-family: 'Tahoma bold', sans-serif;
    font-size: 12px;
    color: #b2b2b2;
    border-radius: 15px;
    border: 1px solid #DBD8CB;
    margin-bottom: 10px;
}
.a-popup-content select {
    outline: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 190px;
    height: 32px;
    outline: none;
    border-radius: 22px;
    border: 1px solid #DBD8CB;
    font-family: 'Tahoma', sans-serif;
    font-size: 14px;
    color: #9A9A9A;
    background: url(../img/select_arrow.png) no-repeat 95%, white;
     -moz-appearance: none;
     -o-appearance: none;
     -ms-appearance: none;
     -webkit-appearance: none;
     appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    margin-bottom: 10px;
    margin-left: 20px;
}
.a-popup-content button {
    color: white;
    background: url(../img/popup_btn_img.jpg);
    border:none;
    border-top: 1px solid #DA973C;
    width: 135px;
    height: 30px;
    margin-top: 10px;
    border-radius: 13px;
    font-size: 18px;
    font-family: 'MyriadPro SemiboldCond';
}
/* Popup end
------------------------------------------------------------------------------------ */

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*  SINGLE SLIDER
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#container {
    width:320px;
    height: 450px;
    margin:0 auto;
    position:relative;
    z-index:0;
    display: inline-block;
}

#products_example {
    width:320px;
    height: 310px;
    position:relative;
}
#products .next,#products .prev {
    position:absolute;
    top:360px;
    width:20px;
    height:0;
    padding-top:22px;
    overflow:hidden;
    display:block;
    z-index:101;
}
#products .prev {
    background:url(../img/arrow-prev.png) no-repeat;
    left: -20px;
}
#products .next {
    left:322px;
    background:url(../img/arrow-next.png) no-repeat;
}

#products .slides_container {
    width:320px;
    height:310px;
    overflow:hidden;
    float:left;
    position:relative;
    border:1px solid #dfdfdf;
    border-radius: 20px;
}
#products .slides_container img {
    width: 320px;
    height: 310px;
}

#products .pagination {
    padding: 0;
    margin: 0;
    width: 320px;
    height: 100px;
    position: absolute;
    bottom: -115px;
    list-style: none;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    text-align: center;
}

#products .pagination li {
    display: inline-block;
    margin: 3px 1px;
}
#products .pagination li:nth-child(5n+1) {
    margin-left: 7px;
}

#products .pagination li a {
    display:block;
    width:55px;
    height: 40px;
    margin:1px;
    float:left;
    background:#f9f9f9;
}
#products .pagination li img {
    width: 55px;
    height: 40px;
}

#products .pagination li.current a {
    border:1px solid #7f7f7f;
    margin:0;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*  SINGLE SLIDER END
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.phone-order {
    width: 240px;
    height: 60px;
    margin: auto;
    border: 1px solid #cccccc;
    border-radius: 5px;
    text-align: center;
}

.phone-order h3 {
    font-family: 'MyriadPro Bold';
    font-size: 15px;
    color: #ff8f00;
    margin-top: 11px;
    margin-bottom: 3px;
}

.phone-order p {
    font-size: 15px;
    font-family: 'MyriadPro SemiboldCond';
    margin-top: 3px;
    line-height: 23px;

}

.phone-order p:before {
    width: 16px;
    height: 16px;
    content: url(../img/phone.png);
    margin-right: 10px;
    top: 10px;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*  SINGLE END
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*  CATALOG
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.products_in {
    margin-bottom: 20px;
}
.products_in p{
    display: inline-block;
    margin: 0;
    font-family: 'Verdana', sans-serif;
    font-size: 12px;
    color: #808080;
}
.products_in span {
    cursor: pointer;
    float: right;
    font-family: 'Tahoma', sans-serif;
    font-size: 12px;
    color: #808080;
    margin-left: 15px;
    margin-right: 5px;
}
.products_in .issuance_active,
.main_content .issuance_active {
    text-decoration: underline;
    color: #0084ff;
}
.issuance_table:before {
    content: url(../img/table_img.png);
    margin-right: 8px;
    position: relative;
    top: 1px;
}
.issuance_list:before {
    content: url(../img/list_img.png);
    margin-right: 8px;
    position: relative;
    top: 1px;
}
.products {
    padding: 0;
    margin: 0;
}
.products li {
    display: inline-block;
    margin-right: 25px;
    margin-top: 22px;
    border-radius: 18px;
    text-align: center;
    width: 200px;
    height: 290px;
    list-style: none;
    border: 1px solid #DADADA;
}
.products li:nth-child(3n){
    margin-right: 0;
}
.products li img {
    display: block;
    margin: auto;
    margin-top: 22px;
    margin-bottom: 8px;
}
.products li a{
    padding: 0 20px;
    display: inline-block;
    font-family: 'Tahoma bold', sans-serif;
    font-size: 11px;
    color: #000;
    margin-bottom: 12px;
}
.products li span {
    display: block;
    padding:0 10px;
    font-family: 'Tahoma', sans-serif;
    font-size: 11px;
    color: #818181;
    margin-bottom: 10px;
}
.products .old_cost {
    margin: 0;
    margin-right: 10px;
    font-style: italic;
    display: inline-block;
    font-family: 'MyriadPro SemiboldCond';
    font-size: 18px;
    color: #000;
    background: url(../img/strip.png)no-repeat center;
}
.products .new_cost {
    margin: 0;
    display: inline-block;
    font-style: italic;
    font-family: 'MyriadPro SemiboldCond';
    font-size: 24px;
    color: #ff8f00;
}
.products li button {
    display: block;
    margin: auto;
    font-family: 'Tahoma bold', sans-serif;
    font-size: 12px;
    border-radius: 6px;
    width: 102px;
    height: 25px;
    border: 1px solid #E1E1E1;
    background: url(../img/button-bg.jpg);
    box-shadow: 0 1px 0 0 #EFEFEF;
    margin-top: 13px;
}
.catalog {
    width: 668px;
    background: url(../img/tr-bg.jpg) repeat-x;
    border-radius: 12px 12px 0 0;
}
.main_content .name span {
    border: none;
    box-shadow: none;
}
.catalog th {
    font-family: 'Tahoma bold', sans-serif;
    font-size: 12px;
    color: #000;
}
.catalog th span {
    padding-left: 25px;
    display: block;
    border-left: 1px solid white;
    box-shadow: 1px 0 0 #D1D1D1;
}
.main_content .name {
    width: 182px;
}
.main_content .description {
    width: 244px;
}
.main_content .issua span {
    border: none;
}
.catalog .thead {
    text-align: left;
    height: 34px;
}
.catalog td {
    padding-left: 25px;
    line-height: 12px;
    height: 55px;
    border-right: 2px solid white;
}
.catalog td a {
    font-family: 'Tahoma', sans-serif;
    font-size: 11px;
    color: #000;
}
.catalog td span {
    font-family: 'Tahoma', sans-serif;
    font-size: 11px;
    color: #818181;
}
.catalog .cost {
    font-family: 'Tahoma bold', sans-serif;
    font-size: 11px;
    color: #000;
    text-align: center;
    width: 80px;
    padding: 0;
}
.main_content .order{
    text-align: center;
    border-right: none;
    padding: 0;
}
.main_content .order a{
    font-family: 'Tahoma bold', sans-serif;
    font-size: 11px;
    color: #0084ff;
}
.catalog_pages {
    margin-top: 25px;
    margin-bottom: 0px;
    text-align: center;
}
.catalog_pages button {
    width: 24px;
    height: 23px;
    border: none;
    background: none;
    outline: none;
}
.catalog_pages a {
    margin-left: 2px;
    margin-right: 2px;
    color: #b2b2b2;
    font-family: 'Tahoma bold', sans-serif;
    font-size: 11px;
}
.catalog_pages .catalog_page_active button{
    color: #000;
    background: url(../img/page_active.png);
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*  CATALOG END
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.typography p {
    text-align: justify;
    font-size: 11px;
    font-family: 'Tahoma', sans-serif;
    line-height: 16px;
}
.typography h2 {
    margin-top: 40px;
}
.typography h3,
.typography h4,
.typography h5{
    margin-top: 30px;
}
.typography .basic_style {
    margin-top:0px;
}
.typography article {
    text-align: justify;
    position: relative;
    top: 20px;
    margin: auto;
    width: 570px;
    font-size: 11px;
    font-family: 'Tahoma', sans-serif;
    line-height: 16px;
}
.typography .left_quote {
    position: absolute;
    left: -7%;
}
.typography .right_quote {
    position: absolute;
    right: -7%;
    bottom:0;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*  CONTENT END
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*  FOOTER
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.footer {
    height: 100px;
    width: 960px;
    bottom: 0;
    border-top: 5px solid #f2f2f2;
    position: absolute;
}
.footer_contact {
    width: 235px;
    float: left;
}
.footer_contact h5 {
    margin: 5px 0 0;
    font-family: 'Tahoma bold', sans-serif;
    font-size: 11px;
    color: #4c4c4c;
}
.footer_contact p {
    margin: 15px 0 0;
    font-family: 'MyriadPro SemiboldCond' sans-serif;
    font-size: 16px;
}
.footer_contact p span {
    font-family: 'MyriadPro LightCond';
    font-size: 12px;
    color: #999999;
}
.footer_nav ul {
    padding: 15px 0 0;
    margin: 0;
    float: left;
    height: 40px;
}
.footer_nav li {
    display: inline-block;
}
.footer_nav li a {
    font-family: 'Tahoma', sans-serif;
    font-size: 12px;
    color: #808080;
}
.footer_nav li a:hover {
    color: #80c1ff;
    text-decoration: none;
}
.footer_nav li:after {
    content: '/';
    color: #808080;
    margin-left: 7px;
    margin-right: 2px;
}
.footer_nav li:last-child:after {
    content: '';
}
.footer_logo {
    float: right;
    margin-top: 35px;
}
.footer h6 {
    float: left;
    margin: 20px 0 0;
    font-family: 'Tahoma', sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #b2b2b2;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*  FOOTER END
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/




/* правки */



.category .popup_first > li .pop_div2 a:hover {
    color: #0085FF;
    text-decoration: underline;
}

.category .popup_first > li .active {
    font-weight: bold;
    color: #0085FF;
}

p a {
    text-decoration: none;
    color: #0085FF;
}

p a:hover {
    border-bottom: 1px solid #ff8f00;
}

.category .pop_div1:hover a{
    color: #0085FF;
}

.products li a:hover,
.single-analog-product a:hover {
    color: #ff8f00;
}

.main_content button:hover {
     color: #ff8f00;
}

.main_content .order a:hover {
    color: #ff8f00;
}

.catalog td a:hover {
    color: #0085FF;
}



