@font-face {
    font-family: 'Tahoma';
    src: url(../fonts/TAHOMA.ttf);
   }
@font-face {
    font-family: 'Tahoma bold';
    src: url(../fonts/TAHOMABD.ttf);
}
@font-face {
    font-family: 'MyriadPro LightCond';
    src: url(../fonts/MYRIADPRO-LIGHTCOND.otf);
   }
@font-face {
    font-family: 'MyriadPro SemiboldCond';
    src: url(../fonts/MYRIADPRO-SEMIBOLDCOND.otf);
   }
@font-face {
    font-family: 'MyriadPro BoldCond';
    src: url(../fonts/MYRIADPRO-BOLDCOND.otf);
   }
@font-face {
    font-family: 'MyriadPro BlackCond';
    src: url(../fonts/MYRIADPRO-BLACKCOND.otf);
   }
body {
    background: url(../img/bg.jpg) repeat-x;
}
body h1{
	font-size: 24px;
	text-transform: uppercase;
	font-family: 'MyriadPro SemiboldCond';
}
body h1:before {
	content: url(../img/h1_marker.png);
	width: 7px;
	height: 8px;
	margin-right: 13px;
	position: relative;
	bottom: 4px;
}
.wrap {
    width: 960px;
    margin: auto;
}


/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*  HEADER
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.header {
    height: 205px;
}
.logo {
    width: 160px;
    float: left;
    margin-top: 38px;
}

.contact, .internet {
    width: 180px;
    height: 120px;
    float: right;
    margin-top: 35px;
}
.internet ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.internet li {
    margin-bottom: 10px;
    font-family: 'Tahoma', sans-serif;
    font-size: 14px;
    line-height: 17px;
}
.internet li span {
    font-family: 'Tahoma bold', sans-serif;
}
.internet li img {
    display: inline-block;
    margin-right: 10px;
}
.contact {
    margin-right: 95px;
}
.contact h5 {
    margin: 0;
    font-family: 'Tahoma bold', sans-serif;
    font-size: 13px;
    color: #4c4c4c;
}
.contact p {
    margin: 0;
    font-family: 'MyriadPro SemiboldCond';
    font-size: 28px;
}
.contact img {
    margin-right: 15px;
}
.contact p span {
    font-family: 'MyriadPro LightCond';
    font-size: 18px;
    color: #999999;
}

.nav {
    clear: both;
}
.nav ul {
    width: 940px;
    height: 50px;
    margin: auto;
    padding: 0px;
    background: url(../img/nav-bg.jpg);
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
}
.nav li {
    display: inline-block;
    height: 50px;
    padding: 0;
    margin-right: 40px;
}
.nav li:first-child {
    margin-left: 30px;
}
.nav li:last-child {
    margin-right: 0;
}
.nav li:after {
    margin-left: 40px;
    content: url(../img/devider.png);
}
.nav li:last-child:after {
    margin-left: 0;
    content: "";
}
.nav a {
    text-decoration: none;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    font-family: 'MyriadPro SemiboldCond';
    font-size: 24px;
    color: #000000;
}
.nav a:hover {
    background: url(../img/nav_hover.jpg);
    color: white;
}
.nav a:hover:before {
    position: absolute;
    margin-left: -21px;
    content: url(../img/nav-before.jpg);
}
.nav a:hover:after {
    position: absolute;
    content: url(../img/nav-after.jpg);
}
.nav-hr {
    position: absolute;
    margin-top: 50px;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*  HEADER END
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*  BANNER
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.left-banner, .right-banner {
    width: 480px;
    height: 300px;
}
.left-banner {
    float: left;
}
.right-banner {
    width: 480px;
    _padding-top: 50px;
    float: right;
}
.right-banner img {
    padding-top: 50px;
}
.map-container {
    float: left;
}
.map-container h1 {
    font-family: 'MyriadPro BoldCond';
    font-size: 28px;
    margin: 0;
    margin-top: 55px;
}
.map-container h1:before {
	content: none;
}
.map-container p {
    font-family: 'MyriadPro LightCond';
    font-size: 24px;
    margin: 0;
    margin-left: 43px;
    margin-top: -6px;
}
.map-container img {
    margin-top: 10px;
}
.sputnik {
    float: right;
    width: 280px;
}
.sputnik p {
    font-family: 'MyriadPro LightCond';
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 0px;
}
.sputnik h1 {
    margin-top: 0;
    font-family: 'MyriadPro BlackCond';
    font-size: 35px;
    color: #ff8f00;
}
.sputnik h1:before {
	content: none;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*  HEADER END
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*  CONTENT
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*  SIDEBAR
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.sidebar {
	width: 270px;
	float: left;
}
.rotate {
    transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
}
.category {
	padding: 0;
	padding-left: 22px;
	background: #F2F2F2;
	border-radius: 18px;
	width: 230px;
	z-index: 20;
	position: relative;
}
.sb_block {
	position: relative;
	z-index: 0;
}
.category > li {
	cursor: pointer;
	clear: both;
	position: relative;
	width: 207px;
	list-style: none;
	text-indent: 22px;
	border-bottom: 1px solid #D1D1D1;
	box-shadow: 0 1px 0 0 white;

}
.shadow_category {
	position: absolute;
	bottom: -13px;
	left: -23%;
	z-index: 0;
}
.engine {
	position: absolute;
	right: -2px;
	top: -48px;
}
.category > li img {
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -2px;
}
.category > li .sb_arrow {
	z-index: 5;
}
.category li a {
	color: #000;
	font-size: 14px;
	font-family: 'Tahoma bold', sans-serif;
	text-decoration: none;
}
.pop_div1 .color {
	color: #0085FF;
}
.category > li:last-child {
	border: none;
	box-shadow: none;
}
.category .pop_div1 {
	width: 100%;
	padding: 9px 0;
}
.category .popup_first {
	padding: 2px 0;
	border-bottom: 1px solid #D1D1D1;
	box-shadow: 0 1px 0 0 white;
    float: left;
    width: 207px;
    background: #E6E6E6;
    margin-top: 1px;
}
.category .popup_first > li {
	padding: 2px 0;
	padding-left: 10px;
	background: url(../img/marker.png) no-repeat 11%;
    list-style: none;
}
.category .popup_first > li a {
	text-decoration: none;
	color: #4C4C4C;
	font-size: 12px;
    font-family: 'Tahoma', sans-serif;
}
.sb_block form {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
	width: 213px;
	background: #FBFAF9;
	border-radius: 18px;
}
.sb_block h2 {
	margin: 0;
	padding-top: 26px;
	padding-bottom: 9px;
	font-family: 'MyriadPro SemiboldCond';
	font-size: 20px;
	text-transform: uppercase;
	border-bottom: 1px solid #D1D1D1;
	box-shadow: 0 1px 0 0 white;
}
.sb_block select {
	text-indent: 10px;
	width: 212px;
	height: 32px;
	outline: none;
	border-radius: 22px;
	border: 1px solid #DBD8CB;
	font-family: 'Tahoma', sans-serif;
	font-size: 14px;
	color: #9A9A9A;
	margin-top: 3px;
}
.sb_block label {
	display: inline-block;
	margin-top: 13px;
	font-family: 'Tahoma', sans-serif;
	font-size: 14px;
	color: #3A3A3A;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*  SIDEBAR END
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.main_content {
	width: 675px;
	float: right;
}
.clear {
	clear: both;
}


.tabs_wrap {
    height: 142px;
    position: relative;
}
.tabs {
    background: #e3e3e3;
    border:1px solid #e4e4e4;
    width: 680px;
    height: 105px;
    position: absolute;
    top: 36px;
    border-radius: 0px 20px 20px;
}
.tabs img {
    margin: 25px 0 0 30px;
    float: left;
}
.tabs form {
    padding: 30px 0 0;
}
.tabs input {
    margin-left: 10px;
    padding-left: 5px;
    width: 430px;
    height: 25px;
    font-family: 'Tahoma bold', sans-serif;
    font-size: 12px;
    color: #b2b2b2;
    border-radius: 3px;
    border: 1px solid #999999;
}
.tabs p {
    margin: 10px 0 0 10px;
    float: left;
    font-family: 'Tahoma', sans-serif;
    font-size: 11px;
    color: #666666;
}
.tabs ul {
    padding: 0;
    margin: 0;
}
.tabs ul li {
    display: inline-block;
    margin-top: 6px;
    margin-left: 3px;
}
.tabs ul li:after {
    content: ',';
}
.tabs ul li:last-child:after {
    content: '';
}
.tabs ul li a {
    font-family: 'Tahoma', sans-serif;
    font-size: 11px;
    color: #666666;
}
.tabs ul li a:hover {
    color: black;
}
.tabs_inset {
    height: 36px;
    border: 1px solid #e4e4e4;
    border-bottom: none;
    border-radius: 20px 20px 0 0;
    float: left;
    margin-right: 1px;
    cursor: pointer;
}
.tabs_inset p {
    margin: 0;
    padding: 0 20px;
    font-family: 'MyriadPro SemiboldCond';
    font-size: 18px;
    line-height: 35px;
    color: black;
}
.tabs_active {
    position: relative;
    background: url(../img/main_button_bg.jpg);
    z-index: 2;
    _border: none;
}
.tabs_active p {
    color: white;
}





